*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
header{
    background-color: black;
    color: #fff;
    padding: 4px;
    text-align: center;
    border-bottom: 3px solid white;
    position: fixed;
    width: 100%;
    height: 100px;

}
h1{
    color: rgb(250, 249, 249);
    text-shadow: 2px 2px #0f0a0a;
    text-transform: capitalize;
    text-decoration: underline;
}
.container{
    background-color: #070707;
    min-height: 50vh;
}

.products-container{
    max-width: 1200px;
    margin: 0 auto;
}


.car{
    display: inline-flex;
    width: 5%;
    color: #f3f0f0;
    text-align: center;
    text-transform: lowercase;
    text-decoration: none;
    background-color: transparent;
    padding: 2px;
    margin-left: 60%;
}

.hcont{
    
    display: flex;
    justify-content: space-between;
    padding: 8px;
    
}
#clog{
    display: block;
    font-size: 15px;
    color: #ffffff;
    text-align: right;
    background-color: transparent;
    text-transform: capitalize;
    border-color: transparent;
    
}
#log{
    display: block;
    width: 25%;
    text-align: right;
    color: #fafafa;
    margin-right: 15px;
    padding: 0px;
    border: none;
    font-size: 20px;
    text-transform: capitalize;
    background-color: transparent;
    transition: 0.5s;
    margin-left: 0%;
}

.card{
    width: 33%;
    display: inline-block;
    margin: 2% 2%;
    padding: 14px;
}

.product-image{
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    border: 5px solid #070347;
    border-radius: 20px;
}

#img-1{
    background-image: url(../imagens/balneario.webp);
    margin-top: 40px;
}
#img-2{
    background-image: url(../imagens/floripa.webp);
    margin-bottom: 35px;
}
#img-3{
    background-image: url(../imagens/betocarrero.jpg);
}
#img-4{
    background-image: url(../imagens/aeroporto-de-florianopolis-696x519.jpg);
}
h3{
    margin-bottom: 10px;
    color: black;
    border-left: 5px solid rgb(8, 8, 8);
    padding-left: 7px;
    font-size: 24px;
}

.card p{
    margin-bottom: 5px;

}
.bold{
    font-weight: bold;
}
.btn{
    margin-top: 10px;
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #1206b6;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    transition: 0.5s;
}

.btn:hover{
    background-color: #070347;
}

.rodape{
    background-color: black;
    color: #fff;
    border-top: 2px solid white;
    text-align: center;
    padding-bottom: 10px;
    
   

}
main{
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 100%;
    background-image: url(../imagens/Florian.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 220vh;
    margin: 0%;
}
.altura2{
    color: #fff;
    padding: 12px;
}
h2{
   padding-top: 130px;
   padding-left: 40px;
    color: black;
    background-size: cover;
    background-position: center;
}
#img8{
    background-size: cover;
    
    height: 5vh;
}
#valor_tours{
    background-color: rgba(245, 245, 245, 0.39);
    border-color: transparent;
    font-size: 20px;
    visibility: visible;
}
#valor_balneario{
    background-color: rgba(245, 245, 245, 0.39);
    border-color: transparent;
    font-size: 20px;
    visibility: visible;
}
#valor_traslados{
    background-color: rgba(245, 245, 245, 0.39);
    border-color: transparent;
    font-size: 20px;
    visibility: visible;
}
#valor_aeroporto{
    background-color: rgba(245, 245, 245, 0.39);
    border-color: transparent;
    font-size: 20px;
    visibility: visible;

}